* {
  margin: 0;
}

body {
  margin: n0one;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app{
  background-color: #f3f2ef;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.app__body{
  display: flex;
  top: 80px;
  flex: 0.6;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

